* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
  font-weight: 700;
  font-size: 1.8rem;
  color: var(--grey_300);
}
.active {
  color: var(--grey_900);
}

:root {
  font-size: 62.5%;
  --ff: 'Mulish', sans-serif;

  --white: #FFFFFF;
  --grey_100: #EEEEEE;
  --grey_300: #8D8D99;
  --grey_500: #3D3D3D;
  --grey_900: #202024;
}

body, input {
  font-family: var(--ff);
}

header {
  margin-inline: 11.2rem;
  padding-block: 1.6rem;
  background-color: var(--white);
}
header, ul {
  display: flex;
  align-items: center;
  gap: 7.5rem;
}
.input-wrapper {
  position: relative;
  display: flex;
  flex: 1;
}
.input-wrapper label {
  height: 0px;
  width: 0px;
  margin: 0px;
  padding: 0px;
  position: absolute;
  opacity: 0;
  display: none;
}
.input-wrapper input {
  width: 100%;
  background-color: var(--grey_100);
  border: 0;
  border-radius: .5rem;
  padding: 1.6rem;
}
.input-wrapper input::placeholder {
  color: var(--grey_500);
  font-weight: 600;
  font-size: 1.6rem;
}

#profile {
  width: 4.2rem;
  height: 4.2rem;
  border-radius: 50% 50%;
}