* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
  font-weight: 700;
  font-size: 1.8rem;
  color: var(--grey_300);
}
.active {
  color: var(--grey_900);
}

:root {
  font-size: 62.5%;
  --ff: 'Mulish', sans-serif;

  --white: #FFFFFF;
  --grey_50: #F5F5F5;
  --grey_100: #EEEEEE;
  --grey_300: #8D8D99;
  --grey_500: #3D3D3D;
  --grey_900: #202024;
}

body, input {
  font-family: var(--ff);
}

.page {
  height: 100vh;
  display: grid;
  grid-template-rows: max-content 1fr max-content;
  background-color: var(--white);
}
.container {
  padding: 1.6rem 3.2rem;
  width: min(112rem, 100%);
  margin: auto;
}


header, ul {
  display: flex;
  align-items: center;
  gap: 7.5rem;
}

.input-wrapper {
  position: relative;
  display: flex;
  flex: 1;
}
.input-wrapper label {
  height: 0px;
  width: 0px;
  margin: 0px;
  padding: 0px;
  position: absolute;
  opacity: 0;
  display: none;
}
.input-wrapper input {
  width: 100%;
  background-color: var(--grey_100);
  border: 0;
  border-radius: .5rem;
  padding: 1.6rem;
}
.input-wrapper input::placeholder {
  color: var(--grey_500);
  font-weight: 600;
  font-size: 1.6rem;
}

#profile {
  width: 4.2rem;
  height: 4.2rem;
  border-radius: 50% 50%;
}




main {
  background-color: var(--grey_50);
  overflow-y: auto;
}
#gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2.2rem;
}
.card {
  border-radius: .8rem;
  overflow: hidden;
  background-color: var(--white);
}

.card img {
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
  display: block;

  filter: sepia(30);
  transition: all 1s ease-out 300ms;
}
.card img:hover {
  filter: sepia(0);
  transform: scale(1.03);
}
.card figcaption {
  padding: 2.2rem;
}

h1 h2 {
  font-weight: 700;
  font-size: 2.4rem;
}
h2 {
  font-size: 1.8rem;
  margin-bottom: 1.2rem;
}

.card .tags {
  display: flex;
  flex-wrap: wrap;
  gap: .4rem;
}
.tags span {
  text-transform: uppercase;
  padding: .8rem;
  background-color: var(--grey_50);
}


footer {
  font-weight: 600;
  font-size: 1.6rem;
  color: var(--grey_900);
  text-align: center;
}

header {
  --startY: -100%;
  animation: move 500ms ease-out 0ms reverse;
}
footer {
  --startY: 100%;
  animation: move 500ms ease-out 0ms reverse;
}

@keyframes move {
  100% {
    transform: translateY(var(--startY));
  }
}

.card {
  animation: name duration timing-function delay iteration-count direction fill-mode;
  animation: appear 500ms ease-in-out 300ms backwards;
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: scale(.5);
  }
  50% {
    transform: scale(1.1);
  }
}